{% extends "authenticated_base.html" %}

{% block content %}
<div class="table" xmlns:width="http://www.w3.org/1999/xhtml">

    <table class="table" style="width:100%">
        <th>ID</th>
        <th>roles_id</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Timestamp</th>
        <th>Password</th>
        <th>Modified</th>
        <th>Confirmed</th>

    {% for record in records %}
        <tr>
            <td>{{ record.0 }}</td>
            <td>{{ record.1 }}</td>
            <td>{{ record.2 }}</td>
            <td>{{ record.3 }}</td>
            <td>{{ record.4 }}</td>
            <td>{{ record.5 }}</td>
            <td>{{ record.6 }}</td>
            <td>{{ record.7 }}</td>
        </tr>

    {% endfor %}
    </table>
  </div>

{% endblock %}