{% extends "base.html" %}

{% block blog_title %}
    HEIDRITECH
{% endblock %}

{% block blog_title_description %}
-- A Tech Blog--
{% endblock %}

{% block create_post %}
    <form class="form-horizontal" action="/submit_blog_post" method="post">
        {{ form.csrf_token }}
    <div class="form-group">
        <div class="col-sm-9">
            <textarea name="text_post" data-provide="markdown"></textarea>
                {{ form.body(class='.form-control') }}

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </div>
    </form>

{% endblock %}


     {% block content %}
     {% for post in posts %}
        <h2 class="blog-post-title">First Run Through!</h2>
         <p class="blog-post-meta">{{ post['post_time'] }} <a href="{{ url_for('.user', name=post['name']) }}">{{ post['name'] }}</a> </p>

         {{ post['body'] | safe }}

         <br />
         <br />
         <hr />
     {% endfor %}

    {% endblock %}

    {% block paginate %}

   {{ paginate.info }}
   {{ paginate.links }}

    {% endblock %}