{% extends "base.html" %}

{% block content %}

    <h2 class="blog-post-title">{{ posts[0]['post_title'] }}</h2>
    <p class="blog-post-meta">{{ posts[0]['post_time'] }} <a href="{{ url_for('.user', username=posts[0]['username']) }}">{{ posts[0]['username'] }}</a> </p>

        {{ posts[0]['body'] | safe }}

    <br />
    <br />
    <hr />

{% endblock %}

{% block display_comments %}

    {% for comment in comments %}
       <div class="post-list">
            <ul style="list-style: none; padding-left: 0">
                <li style="float: left">
                    <div class="posted-comment" style="padding-left: 0; border-radius: 3px; display: inline; padding-bottom: 24px ">
                        <img src="{{ user.gravatar(size=50) }}" class="user">
                    </div>
                </li>

                <li>
                     <header style="line-height: 1; font-size: 13px">
                        <span class="post-byline">
                            <span class="author pub-color"><a href="{{ url_for('.user', username=user.username) }}">{{ user.username  }}</a></span>
                        </span>
                        - {{ moment(comment['comment_time']).fromNow() }}
                     </header>
                    <div class="comment-display-body">
                      <div>
                        <div class="comment-inner" style="margin-left: 9%; overflow-x: hidden; width: 91%; position: absolute; zoom: 1">
                            {{ comment['body'] }}
                        </div>
                      </div>
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}

{% endblock %}

{% block comments %}
<!---------------------------------------------------------------------->

    <header id="main-nav">
        <nav class="nav nav-primary">
            <ul style="list-style: none">
                <li class="nav-tab nav-tab-primary">
                    <span>{{ user.username }}</span>
                </li>
                <li class="nav-tab nav-comment-count">
                    <span class="tab-content">{{ posts[0]['comment_count'] }} Comments</span>
                </li>
            </ul>
        </nav>
    </header>
    <div id="posts">
        <form class="form-horizontal" action="{{ url_for('post_comment', id=posts[0]['posts_id']) }}" method="post">
            <div class="comments">
                <div class="avatar">
                    <img data-role="user-avatar" src="{{ user.gravatar(size=50) }}" class="user">
                </div>

                <div class="comment-body" style="position: relative; left: 60px; right: 0; top: 0; ">
                    <textarea class="comment_body" id="comment_body" name="comment_body" placeholder="Join the Discussion..."></textarea>
                    <div class="post-comment">
                        <div class="display-post-comment" style="text-align:right ">
                            {{ form.submit(class='btn btn-primary') }}
                        </div>
                    </div>

                </div>

            </div>
        </form>

{##}
{#        <ul id="post-list" class="post-list">#}
{#            {% for comment in comments %}#}
{#                <li class="post">#}
{#                    <div class="post-content author-session-user">#}
{#                        <div class="comment-img" >#}
{#                            <img src="{{ user.gravatar(size=48) }}" class="user">#}
{#                        </div>#}
{##}
{#                            <div class="post-commentbody">#}
{#                                <header class="comment__header">#}
{#                                    <span class="post-byline">#}
{#                                        <span class="author pub-color">{{ user.username  }}</span>#}
{#                                    </span>#}
{#                                </header>#}
{#                            </div>#}
{#                    </div>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}


    </div>
<!---------------------------------------------------------------------->
{#<div id="disqus_thread"></div>#}
{##}
{#<script>#}
{##}
{#(function() { // DON'T EDIT BELOW THIS LINE#}
{#        var d = document, s = d.createElement('script');#}
{#        s.src = '//heidritech.disqus.com/embed.js';#}
{#        s.setAttribute('data-timestamp', +new Date());#}
{#        (d.head || d.body).appendChild(s);#}
{#    })();#}
{##}
{#</script>#}
{##}
{#<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>#}

{% endblock %}

{% block paginate %}
{% endblock %}