{% extends "authenticated_base.html" %}

{% block content %}
    <div class="align-left">
      <div class="col-sm-offset-3">
        <img src="{{ user_one.gravatar(size=256) }}" class="img-rounded">
    </div>
    </div>

    <div class="page-header">
        <h1>{{ user[0]['name'] }}</h1>

    {% if user[0]['email'] or user[0]['location']%}
    <p>
        {% if user[0]['email'] %}{{ user[0]['email']}}{% endif %}
        {% if user[0]['location'] %}
            From <a href="http://maps.google.com/?q={{ user[0]['location']}}">{{ user[0]['location']}}</a>
        {% endif %}

    </p>
    {% endif %}

    {% if user[0]['about_me'] %}<p>{{ user[0]['about_me'] }}</p>{% endif %}

    <p>
        Member Since {{ moment(user[0]['registration_date']).format('LL') }}

        Last Seen {{ moment(user[0]['modified_at']).fromNow() }}
    </p>
    </div>

    {% if user[0]['email'] == current_user.email %}
    <a class="btn btn-primary" href="{{ url_for('.edit_profile') }}">
    Edit Profile
    </a>
    {% endif %}

{% endblock %}