.user {
    position: relative;
    z-index: 100;
    background: #dbdfe4;
    padding: 0;
    border-radius: 3px;
}

.comment-img .user, .avatar img {
    border-radius: 3px;
    display: block;
    position: absolute;
}

.comment_body {

    overflow: auto;
    border-color: #8c8c8c;
    width: 90%;
    height: 50px;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    border-radius: 5px;
    resize: none;
    max-height: 350px;

}

.post-comment {

    outline-color: #8c8c8c;
    width: 90%;
    height: 36px;
    opacity: 1;
    border: 2px black;

}

.nav-primary {
    margin: 0 0 24px;
    border-bottom: 2px solid #e7e9ee;
}

.ul {
    list-style: none;
    padding-left: 0;
}

.nav-tab-primary {

    margin-bottom: 5px;
    position: relative;
    float: right;
}


.nav-comment-count {
    margin-bottom: 5px;
    position: relative;
    float: left;
    left: -6%;
}

.comments {

    position: relative;
    margin: 0 0 24px;

}

.comment-header {

    display: inline-block;
    position: absolute;
}

.posted-comment {
    position: relative;
    left: 0;
    padding: 10px;
    margin: auto;
}

.comment__header {
    line-height: 1;
    font-size: 13px;
    margin-bottom: 3px;
    position: relative;
}

.comment__header .author {
    color: #656c7a;

}

.pub-color {
    color: #337ab7;
    border: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    font-family: inherit;
    font-size: 100%;
}


.post-list {
    margin-bottom: 24px;
    height: auto;
}

.comment-img {
    margin-right: 12px;
    float: left;
}

.comment-display-body {
    transition:height 0.5s;
    -webkit-transition:height 0.5s;
}

/*.comment-display-body:hover {*/

    /*height: 200px;*/
/*}*/

.tab-content {

    font-weight: 700;
    font-size: 22px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}
